:root {
  --grid-gap-size: 1.5rem;
  --secondary-text-color: hsl(0, 1%, 28%);
  --box-shadow-default: 6px 6px 6px hsl(60, 2%, 80%);
}

.mainContent {
  grid-column: 2;
  grid-row: 2 / span 2;
  background-color: hsl(214, 32%, 91%);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  z-index: 10;
  padding: 2rem 2rem 2.5rem 1.5rem;
  column-gap: var(--grid-gap-size);
  row-gap: 2.5rem;
}

/* Projects */

.mainContent-projects {
  grid-row: 1 / span 2;
}

.mainContent-projectsHeading {
  margin-bottom: 0.75rem;
}

.mainContent-projectsCardContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--grid-gap-size);
  height: 750px;
}

.mainContent-projectsCard {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem 1rem 1.5rem;
  border-radius: 6px;
  border-left: 8px solid var(--primary-color);
  box-shadow: 6px 6px 6px hsl(60, 2%, 80%);
  display: grid;
  grid-template-rows: min-content auto min-content;
}

.mainContent-projectsCardText {
  color: var(--secondary-text-color);
  margin-bottom: 1rem;
}

.mainContent-projectsCardButtonsContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mainContent-projectsCardButton {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  border-style: none;
  background-color: inherit;
  width: 25px;
  height: 25px;
  margin-left: 2rem;
}

.mainContent-projectsCardButton--star {
  background-image: url(../img/star-icon.svg);
}

.mainContent-projectsCardButton--eye {
  background-image: url(../img/eye-icon.svg);
}

.mainContent-projectsCardButton--share {
  background-image: url(../img/share-icon.svg);
}

/* Announcements */

.mainContent-announcements {
  grid-column: 2 / span 1;
}

.mainContent-announcementsHeading {
  margin-bottom: 0.75rem;
}

.mainContent-announcementsCard {
  background-color: white;
  padding: 2rem 1.75rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-default);
}

.mainContent-annoucementsCardItem {
  padding-left: 0.25rem;
}

.mainContent-announcementsCardItemTitle {
  font-size: 1.1rem;
  margin-bottom: 0.15rem;
}

.mainContent-announcementsCardItemText {
  color: var(--secondary-text-color);
}

.mainContent-announcements hr {
  margin: 1rem 0 1.5rem;
}
